<!DOCTYPE html>
<html>
<head>
  <title>LocationSaver</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="center">
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
</div>

<div class="center">
  <%= yield %>
</div>

<hr />

<% if user_signed_in? %>
  <div class="center">
    <br/>
    <%= link_to("View Colombus Listing", private_path, :method => :get) %> |
    <%= link_to("Your Profile", user_path(@user), :method => :get) %> |
    <%= link_to("Logged in as: #{@user.email}", edit_user_registration_path, :method => :get) %> |
    <%= link_to("Logout", destroy_user_session_path, :method => :delete) %> | 
    <%= link_to("Public Page", root_path, :method => :get) %>
  </div>
<% else %>
  <div class="center">
    <%= link_to("Log in", new_user_session_path, :method => :get) %>
    or
    <%= link_to("Sign up", new_user_registration_path, :method => :get) %>
  </div>
<% end %>

</body>
</html>
